/* Layout */
.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f1f3f6;
}

.top-nav {
  width: 100%;
  height: 60px;
  background: #0288d1;
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}

.body-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

/* Sidebar handled inside Sidebar component */

/* Main Body */
.main-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Cards Row */
.card-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.card-row h3 {
  font-size: 2rem;
}

.dash-card {
  flex: 1;
  padding: 50px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blue {
  background: #03a9f4;
}
.green {
  background: #43a047;
}
.yellow {
  background: #fb8c00;
}
.red {
  background: #e53935;
}

/* Bottom section (chart + todo) */
.bottom-section {
  display: flex;
  gap: 20px;
}

.graph-box,
.todo-box {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 350px;
}

.graph-placeholder {
  height: 250px;
  background: #dfe6ed;
  border-radius: 6px;
  margin-top: 10px;
}
