.login-page-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

h3 {
  padding-bottom: 25px;
}
